#### Install connect to Maria DB

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl (10.8 MB)
                                              0.0/10.8 MB ? eta -:--:--
     --                                       0.7/10.8 MB 13.7 MB/s eta 0:00:01
     -----                                    1.6/10.8 MB 16.7 MB/s eta 0:00:01
     ---------                                2.4/10.8 MB 17.3 MB/s eta 0:00:01
     ------------                             3.3/10.8 MB 19.0 MB/s eta 0:00:01
     --------------                           3.9/10.8 MB 19.0 MB/s eta 0:00:01
     --------------                           3.9/10.8 MB 19.0 MB/s eta 0:00:01
     ---------------                          4.2/10.8 MB 14.1 MB/s eta 0:00:01
     ---------------                          4.3/10.8 MB 12.5 MB/s eta 0:00:01
     ----------------                         4.5/10.8 MB 11.5 MB/s eta 0:00:01
     -----------------                        4.6/10.8 MB 10.5 MB/s eta 0:00:01
     -----------------                        4.8/10.8 MB 10.2 MB/s eta 0:00:01
     ------------------                       5.0/10.8 MB 9.6 MB/s eta 0:00:01
     ------------------                       5.2/10.8 MB 9.1 MB/s eta 0:00:01
     -------------------                      5.3/10.8 MB 8.5 MB/s eta 0:00:01
     --------------------                     5.4/10.8 MB 8.3 MB/s eta 0:00:01
     --------------------                     5.6/10.8 MB 8.0 MB/s eta 0:00:01
     ---------------------                    5.8/10.8 MB 7.7 MB/s eta 0:00:01
     ---------------------                    5.9/10.8 MB 7.6 MB/s eta 0:00:01
     ----------------------                   6.1/10.8 MB 7.3 MB/s eta 0:00:01
     ----------------------                   6.2/10.8 MB 7.2 MB/s eta 0:00:01
     -----------------------                  6.3/10.8 MB 7.0 MB/s eta 0:00:01
     -----------------------                  6.5/10.8 MB 6.8 MB/s eta 0:00:01
     ------------------------                 6.6/10.8 MB 6.6 MB/s eta 0:00:01
     ------------------------                 6.7/10.8 MB 6.5 MB/s eta 0:00:01
     -------------------------                6.9/10.8 MB 6.4 MB/s eta 0:00:01
     --------------------------               7.1/10.8 MB 6.3 MB/s eta 0:00:01
     --------------------------               7.2/10.8 MB 6.2 MB/s eta 0:00:01
     ---------------------------              7.4/10.8 MB 6.1 MB/s eta 0:00:01
     ----------------------------             7.6/10.8 MB 6.1 MB/s eta 0:00:01
     ----------------------------             7.7/10.8 MB 6.0 MB/s eta 0:00:01
     -----------------------------            7.9/10.8 MB 5.9 MB/s eta 0:00:01
     -----------------------------            8.0/10.8 MB 5.8 MB/s eta 0:00:01
     ------------------------------           8.2/10.8 MB 5.7 MB/s eta 0:00:01
     ------------------------------           8.3/10.8 MB 5.6 MB/s eta 0:00:01
     -------------------------------          8.5/10.8 MB 5.6 MB/s eta 0:00:01
     -------------------------------          8.6/10.8 MB 5.6 MB/s eta 0:00:01
     --------------------------------         8.8/10.8 MB 5.5 MB/s eta 0:00:01
     ---------------------------------        9.0/10.8 MB 5.5 MB/s eta 0:00:01
     ---------------------------------        9.1/10.8 MB 5.4 MB/s eta 0:00:01
     ----------------------------------       9.2/10.8 MB 5.3 MB/s eta 0:00:01
     ----------------------------------       9.4/10.8 MB 5.3 MB/s eta 0:00:01
     -----------------------------------      9.5/10.8 MB 5.2 MB/s eta 0:00:01
     -----------------------------------      9.7/10.8 MB 5.2 MB/s eta 0:00:01
     ------------------------------------     9.8/10.8 MB 5.2 MB/s eta 0:00:01
     ------------------------------------     10.0/10.8 MB 5.2 MB/s eta 0:00:01
     -------------------------------------    10.2/10.8 MB 5.2 MB/s eta 0:00:01
     --------------------------------------   10.3/10.8 MB 5.1 MB/s eta 0:00:01
     --------------------------------------   10.4/10.8 MB 5.0 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.8 MB 5.0 MB/s eta 0:00:01
     ---------------------------------------  10.7/10.8 MB 4.9 MB/s eta 0:00:01
     ---------------------------------------  10.8/10.8 MB 4.8 MB/s eta 0:00:01
     ---------------------------------------- 10.8/10.8 MB 4.7 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
                                              0.0/527.0 kB ? eta -:--:--
     ----------                             143.4/527.0 kB 4.2 MB/s eta 0:00:01
     ------------------------               337.9/527.0 kB 4.2 MB/s eta 0:00:01
     -------------------------------------  522.2/527.0 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 4.1 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

#### Connect Maria DB

In [1]:
import mysql.connector

db_conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='python_train',
    port='3306'
)

#### Fetching data from DB to Pandas

In [2]:
import pandas as pd

query = "SELECT * FROM titanic"

titanic_df = pd.read_sql_query(query, db_conn)

titanic_df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_23732\2540378601.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  titanic_df = pd.read_sql_query(query, db_conn)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0,1,2,W./C. 6607,23.4500,,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,,Q

#### Data preparation

In [3]:
# drop Nan values
titanic_df = titanic_df[['Age', 'SibSp', 'Parch', 'Fare', 'Survived']].dropna()

x = titanic_df[['Age', 'SibSp', 'Parch', 'Fare']]
y = titanic_df['Survived']

print(x)
print(y)

     Age  SibSp  Parch     Fare
0     22      1      0   7.2500
1     38      1      0  71.2833
2     26      0      0   7.9250
3     35      1      0  53.1000
4     35      0      0   8.0500
..   ...    ...    ...      ...
886   27      0      0  13.0000
887   19      0      0  30.0000
888    0      1      2  23.4500
889   26      0      0  30.0000
890   32      0      0   7.7500

[891 rows x 4 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

#### Split Data to Train and Test

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size=0.1,
    random_state=0
    )

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(801, 4)
(90, 4)
(801,)
(90,)

####  Scaling Data

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# x_train = scaler.fit_transform(x_train)
# x_test = scaler.transform(x_test)

print(x_train)
print(x_test)

     Age  SibSp  Parch     Fare
815    0      0      0   0.0000
877   19      0      0   7.8958
193    3      1      1  26.0000
523   44      0      1  57.9792
634    9      3      2  27.9000
..   ...    ...    ...      ...
835   39      1      1  83.1583
192   19      1      0   7.8542
629    0      0      0   7.7333
559   36      1      0  17.4000
684   60      1      1  39.0000

[801 rows x 4 columns]
     Age  SibSp  Parch      Fare
495    0      0      0   14.4583
648    0      0      0    7.5500
278    7      4      1   29.1250
31     0      1      0  146.5208
255   29      0      2   15.2458
..   ...    ...    ...       ...
627   21      0      0   77.9583
380   42      0      0  227.5250
483   63      0      0    9.5875
516   34      0      0   10.5000
505   18      1      0  108.9000

[90 rows x 4 columns]

#### Train model

In [6]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_train, y_train)

LogisticRegression()

#### Prediction

In [7]:
y_predict = model.predict(x_test)
y_predict

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1], dtype=int64)

#### Model Evaluation

In [8]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print(accuracy_score(y_test,y_predict))

print(precision_score(y_test,y_predict))

print(recall_score(y_test,y_predict))

print(f1_score(y_test,y_predict))

0.6666666666666666
0.7647058823529411
0.3333333333333333
0.4642857142857143

#### Export model with joblib

In [9]:
from joblib import dump

# Save the model
dump(model, '../MyModelTrain/titatic_survival.joblib')

['../MyModelTrain/titatic_survival.joblib']