## Day 2

#### Import require libraries

In [1]:
import pymysql

from modules import connectdb as conn

#### Create Table

In [2]:
def create_table():
    connection = conn.connectmariadb()
    cursor = connection.cursor()

    sql = """CREATE TABLE person (
                id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(64),
                address VARCHAR(255)
            )"""
    
    try:
        cursor.execute(sql)
        print('Table created successfully')
    except pymysql.error:
        print('Cannot connect to Database due to:', pymysql.error)

create_table()

Table created successfully

#### Insert Data

In [5]:
def insert_data(name = "", addr = ""):
    connection = conn.connectmariadb()
    cursor = connection.cursor()

    sql = f"""INSERT INTO person (name, address)
            VALUES('{name}', '{addr}')"""
    
    try:
        cursor.execute(sql)
        connection.commit()
        print('Insert data of', name, addr, 'successfully')
    except pymysql.error:
        print('Cannot insert data due to:', pymysql.error)

insert_data('Bill', 'Tanmixay')

Insert data of Bill Tanmixay successfully

#### Show Data

In [10]:
def show_data():
    connection = conn.connectmariadb()
    cursor = connection.cursor()

    sql = "SELECT * FROM person ORDER BY id"
    
    try:
        cursor.execute(sql)
        connection.commit()
        
        for i in cursor:
            print('ID =', i['id'], ', Name =', i['name'], ', Address =', i['address'])
            print('---------')
    except pymysql.error:
        print('Cannot show data due to:', pymysql.error)

show_data()

ID = 1 , Name = Peter , Address = Vientiane
---------
ID = 2 , Name = Aonny , Address = Paksan
---------
ID = 3 , Name = Bill , Address = Tanmixay
---------